/* TODO: pre-compile less */

/* grays */
@dark_gray: #333;
@mid_gray: #888;
@lite_gray: #CCC;

/* colors */
@yellow: #EBF21B;

body {
    font-family: sans-serif;
}

#header {
    text-transform: uppercase;

    #page_title {
        color: @yellow;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 60px;
    }

    #current_count {
        color: @mid_gray;
        font-size: 20px;

        #count_val {
            color: @yellow;
            font-size: 40px;
            font-weight: bold;
        }
    }
}

#calendar {

    span.calendar_day {
        font-size: 30px;
        color: @lite_gray;
    }

    #today {
        cursor: pointer;
        font-size: 50px;
    }

    span.active_day {
        font-size: 50px;
        color: @yellow;
    }
}
