<h3 id="page_title">
    Don't Break the Streak
</h3>

<span id="count_info">
    // Current Streak: <span class="count_val" id="current_count">{{streak_count}}</span>
    // All-Time High: <span class="count_val" id="all_time_count">{{streak_high}}</streak>
</span>
