{{#if new_streak}}
    <div id="new_user_info">
        // New here? Don't Break the Streak is a web app for habit tracking. Click on today's date to mark
           today as done. You need to come here and check in every day to keep up a streak.
           Your URL is <a href="{{url}}">{{url}}</a>. Bookmark it now, it's how you'll find your streak
           again.
    </div>
{{/if}}

<h3 id="page_title">
    Don't Break the Streak
</h3>

<div id="count_info">
    // Current Streak: <span class="count_val" id="current_count">{{streak_count}}</span>
    // All-Time High: <span class="count_val" id="all_time_count">{{streak_high}}</streak>
</div>
