<h3 id="page_title">
    Don't Break the Streak
</h3>

<span id="current_count">
    // Current Streak: <span class="count_val">{{streak_count}}</span>
    // All-Time High: <span class="count_val">{{streak_high}}</streak>
</span>
